APP_NAME="A_Simple_Rag_Engine"
ENVIRONMENT=local
LOG_LEVEL=INFO

FILE_ALLOWED_TYPES='["text/plain", "application/pdf"]'
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000

GENERATION_PROVIDER="GOOGLE"
GENERATION_MODEL_NAME="gemini-3.5-flash"
GENERATION_DEFAULT_MAX_TOKENS=1024
GENERATION_DEFAULT_TEMPERATURE=0.2
INPUT_DEFAULT_MAX_CHARACTERS=1024

# Embedding Specs
EMBEDDING_PROVIDER="GOOGLE"
EMBEDDING_MODEL_NAME="gemini-embedding-2"
EMBEDDING_MODEL_SIZE=384

GOOGLE_API_KEY="your-openai-api-key-here"
